body {
  background:#000;
  color:#fff;
  font-family: sans-serif;
  padding: 16px;
}

header {
  text-align:center;
  margin-bottom: 20px;
}

.list {
  display:flex;
  flex-direction:column;
  gap:12px;
}

.card {
  background:#111;
  padding:16px;
  border-radius:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

button {
  background:#6c4cff;
  padding:10px 18px;
  border-radius:8px;
  border:none;
  color:white;
  cursor:pointer;
}
